$color-primary: #fefae0;
$heading-primary-desktop-size: 6.8rem;
$heading-primary-mobile-size: 3.4rem;
$container-max-width: 92rem;
$font-normal-size: 1.4rem;
$font-weight-bold: 600;

// mixins
@mixin fl-box($container-max-width) {
  max-width: $container-max-width;
  display: flex;
  margin: 0 auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid #b5eb04;
}
html {
  font-size: 62.5%;
}
body a {
  text-decoration: none;
  color: #333;
}
// header
header {
  padding: 2rem;
  color: #fff;
  background-color: #000;
  .container {
    @include fl-box($container-max-width);
    justify-content: space-between;
  }
  h1 {
    flex: 1 1 80%;
  }
  nav {
    max-width: 40%;
    transition: all 0.2s ease;
    ul {
      @include fl-box(100%);
      list-style: none;
      gap: 10px;
      font-size: $font-normal-size;
      font-weight: $font-weight-bold;
      transition: all 0.2s ease;
      li a {
        color: #fff;
      }
    }
  }
}
.menu-icon {
  display: none;
  flex: 1 1 20%;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}
// section hero
.section-hero {
  width: 100%;
  height: 90vh;
  padding: 2rem 4rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4)
    ),
    url("hero-img.jpg");
  background-position: center;
  background-size: cover;
  .hero-text-box {
    @include fl-box($container-max-width);
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    height: 50%;
    gap: 20px;
  }
}
.hero-heading {
  font-size: $heading-primary-desktop-size;
  letter-spacing: -1.5px;
  line-height: 0.9;
  color: #fff;
}
.hero-description {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-top: 2rem;
  color: #fff;
}
.btn-primary {
  display: inline-block;
  width: 15rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  border-radius: 1.9rem;
  background-color: #606c38;
  cursor: pointer;
  color: #fff;
  font-weight: $font-weight-bold;
}
// section features
.section-features {
  background-color: #f5f5f5;
}
.cards-list-container {
  @include fl-box($container-max-width);
  padding: 4rem 2rem 4rem;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 3.6rem;
  }
  .cards-list {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .card {
      text-align: center;
      width: 25%;
      padding: 1rem 2rem;
      border: 1px solid transparent;
      transition: all 0.2s ease;
      span {
        font-size: 2.6rem;
        color: #606c38;
      }
      p {
        margin: 2rem 0;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      a:link,
      a:visited {
        display: inline-block;
        padding: 0.5rem 2rem;
        font-size: 1.4rem;
        background-color: #606c38;
        color: #fff;
        border-radius: 9px;
        transition: all 0.2s ease;
      }
      a:hover,
      a:active {
        background-color: #c3cca4;
        color: #222;
      }
    }
    .card:hover {
      border: 1px solid #606c38;
      border-radius: 7px;
      background-color: #fff;
      transform: scale(1.1);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }
  }
}
// section contact
.section-contact {
  padding: 2rem 4rem;
  .form-container {
    @include fl-box($container-max-width);
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 1.5rem;
    form {
      @include fl-box(100%);
      flex-direction: column;
      gap: 1rem;
      label {
        font-size: 1.4rem;
      }
      input,
      textarea {
        padding: 1.5rem;
        border-radius: 7px;
      }
      button {
        transition: all 0.2s ease;
      }
      button:hover {
        transform: scale(1.05);
        background-color: #2b3606;
      }
    }
    h2 {
      font-size: 2.6rem;
    }
  }
}
.invisible:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
// section footer
footer {
  width: 100%;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  background-color: #000;
  .footer-container {
    @include fl-box($container-max-width);
    justify-content: space-between;
    .social-box {
      list-style: none;
      display: flex;
      justify-content: end;
      gap: 0.5rem;
      li {
        font-size: 1.4rem;
        a {
          color: #fff;
        }
      }
    }
  }
  small {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  header {
    .container {
      justify-content: center;
      flex-wrap: wrap;
    }
    nav {
      width: 100%;
      display: none;
      transition: all 0.2s ease;
      ul {
        flex-direction: column;
        flex: 1 0 100%;
        align-items: center;
        transition: all 0.2s ease;
      }
    }
    .menu-icon {
      display: block;
      color: #fff;
    }
    .display-nav {
      display: block;
      flex: 1 0 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-features {
    .cards-list {
      flex-direction: column;
      align-items: center;
      .card {
        width: 80%;
      }
    }
  }
  .section-hero .hero-text-box {
    height: 90%;
  }
}
@media screen and (max-width: 1024px) {
}
.error {
  color: red;
  font-size: 1.4rem;
  font-style: italic;
}
input:focus::placeholder {
  opacity: 0;
}
input:not(:placeholder-shown) + .error,
textarea:not(:placeholder-shown) + .error {
  display: none;
}
